<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <link href="#{racine}/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>PcClinic59</title>
</h:head>

<h:body style="margin-left: 5%; margin-right: 5%;">

    <div id="header">
        <ui:insert name="header">
            <ui:include src="header.xhtml"/>
        </ui:insert>
    </div>

    <h:form id="formmenu">
        <p:menubar id="menubar">
            <p:menuitem value="Interventions" url="interventions.xhtml" style="font-size: 15pt; margin-left: 2%"/>

            <p:submenu label="Personnes" style="font-size: 15pt; margin-left: 2%">
                <p:menuitem value="Clients" action="#{personneBean.clients}" ajax="false"
                            style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem value="Fournisseurs" action="#{personneBean.fournisseurs}" ajax="false"
                            style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem value="Techniciens" action="#{personneBean.techniciens}" ajax="false"
                            style="font-size: 15pt; margin-left: 2%"/>
            </p:submenu>

            <p:submenu label="Pièces" style="font-size: 15pt; margin-left: 2%">
                <p:menuitem disabled="true" value="En stock" url="#" style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem disabled="true" value="Pertes" url="#" style="font-size: 15pt; margin-left: 2%"/>
            </p:submenu>

            <p:submenu label="Référentiel" style="font-size: 15pt; margin-left: 2%">
                <p:menuitem value="Appareils" url="appareils.xhtml" style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem value="Pannes" url="pannes.xhtml" style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem value="Marques" url="marques.xhtml" style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem value="Qualités" url="qualites.xhtml" style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem value="Statuts" url="statuts.xhtml" style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem value="Types" url="types.xhtml" style="font-size: 15pt; margin-left: 2%"/>
            </p:submenu>

            <p:submenu label="Charges" style="font-size: 15pt; margin-left: 2%">
                <p:menuitem disabled="true" value="Commandes" url="#" style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem disabled="true" value="Salaires" url="#" style="font-size: 15pt; margin-left: 2%"/>
                <p:menuitem disabled="true" value="Autres Charges" url="#" style="font-size: 15pt; margin-left: 2%"/>
            </p:submenu>
        </p:menubar>
    </h:form>

    <div id="content">
        <ui:insert name="content">
            <ui:include src="content.xhtml"/>
        </ui:insert>
    </div>

    <br/><br/><br/><br/>
    <div id="footer">
        <ui:insert name="footer">
            <ui:include src="footer.xhtml"/>
        </ui:insert>
    </div>
</h:body>
</html>