<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PcClinic59</title>
</h:head>

<h:body>
    <ui:composition template="../templates/layout.xhtml">
        <ui:define name="content">
            <h2>Liste des appareils</h2>

            <p:panel header="Filtres de recherche">
                <h:form id="researchform">
                    <p:inputText id="appareilModeleResearch" size="40" value="#{appareilBean.appareilSearched.modele}"
                                 style="margin-top: 1%; margin-bottom: 1%; font-size: 12pt"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:watermark for="appareilModeleResearch"
                                 value="Recherche par modèle..."/>

                    <h:selectOneMenu id="appareilTypeResearch" value="#{appareilBean.appareilSearched.type}"
                                     style="margin-top: 1%; margin-bottom: 1%; font-size: 12pt">
                        <f:selectItem itemLabel="Choix d'un type d'appareil..."/>
                        <f:selectItems value="#{typeBean.types}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <h:selectOneMenu id="appareilMarqueResearch" value="#{appareilBean.appareilSearched.marque}"
                                     style="margin-top: 1%; margin-bottom: 1%; font-size: 12pt">
                        <f:selectItem itemLabel="Choix d'une marque d'appareil..."/>
                        <f:selectItems value="#{marqueBean.marques}"/>
                    </h:selectOneMenu>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton value="Rechercher" action="#{appareilBean.research}"
                                     style="margin-top: 1%; margin-bottom: 1%;"
                                     ajax="true" update=":table:appareilsTable"/>
                </h:form>
            </p:panel>
            <br/><br/>

            <h:form id="table">
                <p:dataTable id="appareilsTable" var="appareil" value="#{appareilBean.appareils}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="20" selectionMode="single" reflow="false"
                             selection="#{appareilBean.appareilSelected}" rowKey="#{appareil.id}">

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Id"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{appareil.id}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Modèle"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{appareil.modele}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Marque"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{appareil.marque.libelle}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Type d'appareil"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{appareil.type.libelle}"/>
                    </p:column>

                </p:dataTable>
                <br/><br/>

                <div id="appareilsButtons">
                    <p:commandButton process="appareilsTable" value="Créer" id="appareilCreate"
                                     oncomplete="PF('confirmDialogCreate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="appareilsTable"
                                     value="Modifier"
                                     oncomplete="PF('confirmDialogUpdate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="appareilsTable"
                                     value="Supprimer"
                                     oncomplete="PF('confirmDialogDelete').show()"/>
                </div>
                <br/><br/>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>