<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PcClinic59</title>
</h:head>

<h:body>
    <ui:composition template="../templates/layout.xhtml">
        <ui:define name="content">
            <h2>Liste des interventions</h2>

            <h:form id="searchform">
                <p:panel header="Filtres de recherche">

                </p:panel>
            </h:form>
            <br/><br/>

            <h:form id="table">
                <p:dataTable id="interventionsTable" var="intervention" value="#{interventionBean.interventions}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="20" selectionMode="single" reflow="false"
                             selection="#{interventionBean.interventionSelected}" rowKey="#{intervention.id}">
                    <!--
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText style="font-size: 16pt" value="Id"/>
                                            </f:facet>
                                            <h:outputText style="font-size: 14pt; " value="#{intervention.id}"/>
                                        </p:column>
                    -->
                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Lieu d'intervention"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt;" rendered="#{intervention.lieu == 1}" value="Locaux"/>
                        <h:outputText style="font-size: 14pt;" rendered="#{intervention.lieu == 2}" value="Domicile"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Date de début"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.dateDebut}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Date de fin"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.dateFin}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Nom Client"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.client.nom}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Prénom Client"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.client.prenom}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Nom Technicien"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.technicien.nom}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Prénom Technicien"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.technicien.prenom}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Modèle Appareil"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.appareil.modele}"/>
                    </p:column>
                    <!--
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText style="font-size: 16pt" value="Marque"/>
                                            </f:facet>
                                            <h:outputText style="font-size: 14pt; " value="#{intervention.appareil.marque.libelle}"/>
                                        </p:column>

                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText style="font-size: 16pt" value="Type Appareil"/>
                                            </f:facet>
                                            <h:outputText style="font-size: 14pt; " value="#{intervention.appareil.type.libelle}"/>
                                        </p:column>
                    -->
                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Panne"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.panne.libelle}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Statut"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.statut.libelle}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 16pt" value="Tarification"/>
                        </f:facet>
                        <h:outputText style="font-size: 14pt; " value="#{intervention.sommeDue} €"/>
                    </p:column>

                </p:dataTable>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>