<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PcClinic59</title>
</h:head>

<h:body>
    <ui:composition template="../templates/layout.xhtml">
        <ui:define name="content">
            <h2>Liste des marques</h2>

            <!-- Filtres et bouton de recherche -->
            <h:form id="formresearch">
                <div id="researchButtons">
                    <p:inputText id="marqueLibelleResearch" size="40"
                                 value="#{marqueBean.marqueSearched.libelle}"/>&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:watermark for="marqueLibelleResearch"
                                 value="Recherche par libellé..."/>
                    <br/><br/>
                    <p:commandButton value="Rechercher" action="#{marqueBean.research}"
                                     ajax="true" update=":table:marquesTable"/>
                    <br/><br/>
                </div>
            </h:form>
            <br/><br/>

            <!-- Affichage du tableau de données -->
            <h:form id="table">
                <p:dataTable id="marquesTable" var="marque" value="#{marqueBean.marques}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink}
                             {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="20" selectionMode="single" reflow="false"
                             selection="#{marqueBean.marqueSelected}" rowKey="#{marque.id}">

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Id"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{marque.id}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Libellé"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{marque.libelle}"/>
                    </p:column>
                </p:dataTable>
                <br/><br/>

                <!-- Boutons de création, modification, suppression -->
                <div id="marquesButtons">
                    <p:commandButton process="marquesTable" value="Créer" id="marqueCreate"
                                     oncomplete="PF('confirmDialogCreate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="marquesTable" update=":modification:confirmModifMarque"
                                     value="Modifier"
                                     oncomplete="PF('confirmDialogUpdate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="marquesTable" update=":suppression:confirmSupprMarque"
                                     value="Supprimer"
                                     oncomplete="PF('confirmDialogDelete').show()"/>
                </div>
                <br/><br/>
            </h:form>

            <!-- Fenêtre de dialogue avec les champs à remplir pour la création -->
            <h:form id="creation">
                <p:dialog header="Nouvelle Marque"
                          widgetVar="confirmDialogCreate" draggable="false" position="center"
                          modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="confirmCreationMarque" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;">
                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé de la nouvelle marque : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newLibelleMarque" size="30"
                                             value="#{marqueBean.marqueCreated.libelle}"
                                             required="true"/>
                                <p:watermark for="newLibelleMarque"
                                             value="Libellé de la nouvelle marque..."/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmCreation" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"
                                                 actionListener="#{marqueBean.create}" ajax="true"
                                                 update=":table:marquesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineCreation" value="Annuler"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <!-- Fenêtre de dialogue avec les champs à remplir pour la mise à jour -->
            <h:form id="modification">
                <p:dialog header="Modification Marque" widgetVar="confirmDialogUpdate" modal="true"
                          showEffect="fade" draggable="false" resizable="false" position="center">
                    <p:outputPanel id="confirmModifMarque" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;"
                                  rendered="#{not empty marqueBean.marqueSelected}">
                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé de la marque : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateNomMarque" size="30"
                                             value="#{marqueBean.marqueSelected.libelle}"
                                             required="true"/>
                                <p:watermark for="updateNomMarque"
                                             value="Libellé de la marque..."/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmModif" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"
                                                 actionListener="#{marqueBean.update}" ajax="true"
                                                 update=":table:marquesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineModif" value="Annuler"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"/>
                            </p:layoutUnit>
                        </p:layout>

                        <!-- Affichage d'un message dans le cas où aucun enregistrement n'est sélectionné -->
                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty marqueBean.marqueSelected}">

                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucune Marque sélectionnée !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner une marque à modifier dans la liste."
                                              style="font-size: 14pt"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <!-- Fenêtre de dialogue de confirmation de suppression -->
            <h:form id="suppression">
                <p:dialog header="Suppression Marque" widgetVar="confirmDialogDelete" modal="true"
                          showEffect="fade" draggable="false" hideEffect="fade"
                          resizable="false" position="center">
                    <p:outputPanel id="confirmSupprMarque" style="text-align:center;">
                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{not empty marqueBean.marqueSelected}">
                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Supprimer l'enregistrement #{marqueBean.marqueSelected.libelle} ?"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmSuppr" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"
                                                 actionListener="#{marqueBean.delete}" ajax="true"
                                                 update=":table:marquesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineSuppr" value="Annuler"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"/>
                            </p:layoutUnit>
                        </p:layout>

                        <!-- Affichage d'un message dans le cas où aucun enregistrement n'est sélectionné -->
                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty marqueBean.marqueSelected}">
                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucun enregistrement sélectionné !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>
                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner un enregistrement à supprimer dans la liste."
                                              style="font-size: 14pt; text-align: center"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
