<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PcClinic59</title>
</h:head>

<h:body>
    <ui:composition template="../templates/layout.xhtml">
        <ui:define name="content">
            <h2>Liste des pannes</h2>

            <h:form id="formresearch">
                <div id="researchButtons">
                    <p:inputText id="panneLibelleResearch" size="40" value="#{panneBean.panneSearched.libelle}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:watermark for="panneLibelleResearch"
                                 value="Recherche par libellé..."/>
                    <br/><br/>
                    <p:commandButton value="Rechercher" action="#{panneBean.research}"
                                     ajax="true" update=":table:pannesTable"/>
                    <br/><br/>
                </div>
            </h:form>

            <br/><br/>

            <h:form id="table">
                <p:dataTable id="pannesTable" var="panne" value="#{panneBean.pannes}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="20" selectionMode="single" reflow="false"
                             selection="#{panneBean.panneSelected}" rowKey="#{panne.id}">

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Id"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{panne.id}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Libellé"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{panne.libelle}"/>
                    </p:column>
                </p:dataTable>

                <br/><br/>

                <div id="pannesButtons">
                    <p:commandButton process="pannesTable" value="Créer" id="panneCreate"
                                     oncomplete="PF('confirmDialogCreate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="pannesTable" update=":modification:confirmModifPanne"
                                     value="Modifier"
                                     oncomplete="PF('confirmDialogUpdate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="pannesTable" update=":suppression:confirmSupprPanne"
                                     value="Supprimer"
                                     oncomplete="PF('confirmDialogDelete').show()"/>
                </div>

                <br/><br/>
            </h:form>

            <h:form id="creation">
                <p:dialog header="Nouvelle Panne"
                          widgetVar="confirmDialogCreate" draggable="false" position="center"
                          modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="confirmCreationPanne" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé de la nouvelle panne : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newLibellePanne" size="30" value="#{panneBean.panneCreated.libelle}"
                                             required="true"/>
                                <p:watermark for="newLibellePanne"
                                             value="Libellé de la nouvelle panne..."/>
                                <br/><br/>

                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmCreation" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"
                                                 actionListener="#{panneBean.create}" ajax="true"
                                                 update=":table:pannesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineCreation" value="Annuler"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"/>
                            </p:layoutUnit>

                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="modification">
                <p:dialog header="Modification Panne" widgetVar="confirmDialogUpdate" modal="true" showEffect="fade"
                          draggable="false" resizable="false" position="center">
                    <p:outputPanel id="confirmModifPanne" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;"
                                  rendered="#{not empty panneBean.panneSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé de la panne : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateNomPanne" size="30"
                                             value="#{panneBean.panneSelected.libelle}"
                                             required="true"/>
                                <p:watermark for="updateNomPanne"
                                             value="Libellé de la panne..."/>
                                <br/><br/>

                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmModif" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"
                                                 actionListener="#{panneBean.update}" ajax="true"
                                                 update=":table:pannesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineModif" value="Annuler"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"/>
                            </p:layoutUnit>

                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty panneBean.panneSelected}">

                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucune Panne sélectionnée !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner une panne à modifier dans la liste."
                                              style="font-size: 14pt"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="suppression">
                <p:dialog header="Suppression Panne" widgetVar="confirmDialogDelete" modal="true" showEffect="fade"
                          draggable="false" hideEffect="fade" resizable="false" position="center">
                    <p:outputPanel id="confirmSupprPanne" style="text-align:center;">
                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{not empty panneBean.panneSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Supprimer l'enregistrement #{panneBean.panneSelected.libelle} ?"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmSuppr" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"
                                                 actionListener="#{panneBean.delete}" ajax="true"
                                                 update=":table:pannesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineSuppr" value="Annuler"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"/>
                            </p:layoutUnit>
                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty panneBean.panneSelected}">
                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucun enregistrement sélectionné !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>
                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner un enregistrement à supprimer dans la liste."
                                              style="font-size: 14pt; text-align: center"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
