<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PcClinic59</title>
</h:head>

<h:body>
    <ui:composition template="../templates/layout.xhtml">
        <ui:define name="content">
            <h2>Liste des #{personneBean.personneSearched.qualite.libelle}s</h2>

            <h:form id="formresearch">
                <div id="researchButtons">
                    <p:inputText id="personneNomResearch" size="40" value="#{personneBean.personneSearched.nom}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:watermark for="personneNomResearch"
                                 value="Recherche par nom d'un #{personneBean.personneSearched.qualite.libelle}..."/>

                    <p:inputText id="personnePrenomResearch" size="40" value="#{personneBean.personneSearched.prenom}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:watermark for="personnePrenomResearch"
                                 value="Recherche par prenom d'un #{personneBean.personneSearched.qualite.libelle}..."/>
                    <br/><br/>

                    <p:inputText id="personneVilleResearch" size="40"
                                 value="#{personneBean.personneSearched.ligneAdresse2}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:watermark for="personneVilleResearch"
                                 value="Recherche par ville d'un #{personneBean.personneSearched.qualite.libelle}..."/>

                    <p:commandButton value="Rechercher" action="#{personneBean.research}"
                                     ajax="true" update=":table:personnesTable"/>
                </div>
                <br/><br/>
            </h:form>

            <h:form id="table">
                <p:dataTable id="personnesTable" var="personne" value="#{personneBean.personnes}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="20" selectionMode="single" reflow="false"
                             selection="#{personneBean.personneSelected}" rowKey="#{personne.id}">

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Id"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{personne.id}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Nom"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{personne.nom}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Prénom"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{personne.prenom}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Téléphone"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{personne.telephone}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Adresse"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{personne.ligneAdresse1}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Ville"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{personne.ligneAdresse2}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="E-Mail"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{personne.adresseEmail}"/>
                    </p:column>
                </p:dataTable>
                <br/><br/>

                <div id="personnesButtons">
                    <p:commandButton process="personnesTable" value="Créer" id="personneCreate"
                                     oncomplete="PF('confirmDialogCreate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="personnesTable" update=":modification:confirmModifPersonne"
                                     value="Modifier"
                                     oncomplete="PF('confirmDialogUpdate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="personnesTable" update=":suppression:confirmSupprPersonne"
                                     value="Supprimer"
                                     oncomplete="PF('confirmDialogDelete').show()"/>
                </div>
                <br/><br/>
            </h:form>

            <h:form id="creation">
                <p:dialog header="Nouveau #{personneBean.personneSearched.qualite.libelle}"
                          widgetVar="confirmDialogCreate" draggable="false" position="center"
                          modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="confirmCreationPersonne" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le nom du nouveau #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newNomPersonne" size="30" value="#{personneBean.personneCreated.nom}"
                                             required="true"/>
                                <p:watermark for="newNomPersonne"
                                             value="Nom du nouveau #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer le prénom du nouveau #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newPrenomPersonne" size="30"
                                             value="#{personneBean.personneCreated.prenom}"
                                             required="false"/>
                                <p:watermark for="newPrenomPersonne"
                                             value="Prénom du nouveau #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer le téléphone du nouveau #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newTelephonePersonne" size="30"
                                             value="#{personneBean.personneCreated.telephone}"
                                             required="false"/>
                                <p:watermark for="newTelephonePersonne"
                                             value="Prénom du nouveau #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer l'adresse du nouveau #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newAdresse1Personne" size="30"
                                             value="#{personneBean.personneCreated.ligneAdresse1}"
                                             required="false"/>
                                <p:watermark for="newAdresse1Personne"
                                             value="Adresse du nouveau #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer le code postal et la ville du nouveau #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newAdresse2Personne" size="30"
                                             value="#{personneBean.personneCreated.ligneAdresse2}"
                                             required="false"/>
                                <p:watermark for="newAdresse2Personne"
                                             value="Code postal et ville du nouveau #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer l'adresse E-mail du nouveau #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newAdresseEmailPersonne" size="30"
                                             value="#{personneBean.personneCreated.adresseEmail}"
                                             required="false"/>
                                <p:watermark for="newAdresseEmailPersonne"
                                             value="Adresse E-Mail du nouveau #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmCreation" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"
                                                 actionListener="#{personneBean.create}" ajax="true"
                                                 update=":table:personnesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineCreation" value="Annuler"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="modification">
                <p:dialog header="Modification Personne" widgetVar="confirmDialogUpdate" modal="true" showEffect="fade"
                          draggable="false" resizable="false" position="center">
                    <p:outputPanel id="confirmModifPersonne" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;"
                                  rendered="#{not empty personneBean.personneSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le nom du #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateNomPersonne" size="30"
                                             value="#{personneBean.personneSelected.nom}"
                                             required="true"/>
                                <p:watermark for="updateNomPersonne"
                                             value="Nom du #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer le prénom du #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updatePrenomPersonne" size="30"
                                             value="#{personneBean.personneSelected.prenom}"
                                             required="false"/>
                                <p:watermark for="updatePrenomPersonne"
                                             value="Prénom du #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer le téléphone du #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateTelephonePersonne" size="30"
                                             value="#{personneBean.personneSelected.telephone}"
                                             required="false"/>
                                <p:watermark for="updateTelephonePersonne"
                                             value="Prénom du #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer l'adresse du #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateAdresse1Personne" size="30"
                                             value="#{personneBean.personneSelected.ligneAdresse1}"
                                             required="false"/>
                                <p:watermark for="updateAdresse1Personne"
                                             value="Adresse du #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer le code postal et la ville du #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateAdresse2Personne" size="30"
                                             value="#{personneBean.personneSelected.ligneAdresse2}"
                                             required="false"/>
                                <p:watermark for="updateAdresse2Personne"
                                             value="Code postal et ville du #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                                <h:outputText
                                        value="Entrer l'adresse E-Mail du #{personneBean.personneSearched.qualite.libelle} : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateAdresseEmailPersonne" size="30"
                                             value="#{personneBean.personneSelected.adresseEmail}"
                                             required="false"/>
                                <p:watermark for="updateAdresseEmailPersonne"
                                             value="Adresse E-Mail du #{personneBean.personneSearched.qualite.libelle}..."/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmModif" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"
                                                 actionListener="#{personneBean.update}" ajax="true"
                                                 update=":table:personnesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineModif" value="Annuler"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"/>
                            </p:layoutUnit>

                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty personneBean.personneSelected}">

                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucune Personne sélectionnée !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner une personne à modifier dans la liste."
                                              style="font-size: 14pt"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="suppression">
                <p:dialog header="Suppression Personne" widgetVar="confirmDialogDelete" modal="true" showEffect="fade"
                          draggable="false" hideEffect="fade" resizable="false" position="center">
                    <p:outputPanel id="confirmSupprPersonne" style="text-align:center;">
                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{not empty personneBean.personneSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Supprimer l'enregistrement #{personneBean.personneSelected.nom} #{personneBean.personneSelected.prenom} ?"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmSuppr" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"
                                                 actionListener="#{personneBean.delete}" ajax="true"
                                                 update=":table:personnesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineSuppr" value="Annuler"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"/>
                            </p:layoutUnit>
                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty personneBean.personneSelected}">
                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucun enregistrement sélectionné !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>
                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner un enregistrement à supprimer dans la liste."
                                              style="font-size: 14pt; text-align: center"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>