<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PcClinic59</title>
</h:head>

<h:body>
    <ui:composition template="../templates/layout.xhtml">
        <ui:define name="content">
            <h2>Liste des qualités de personnes</h2>

            <h:form id="formresearch">
                <div id="researchButtons">
                    <p:inputText id="qualiteLibelleResearch" size="40" value="#{qualiteBean.qualiteSearched.libelle}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:watermark for="qualiteLibelleResearch"
                                 value="Recherche par libellé..."/>
                    <br/><br/>
                    <p:commandButton value="Rechercher" action="#{qualiteBean.research}"
                                     ajax="true" update=":table:qualitesTable"/>
                    <br/><br/>
                </div>
            </h:form>

            <br/><br/>

            <h:form id="table">
                <p:dataTable id="qualitesTable" var="qualite" value="#{qualiteBean.qualites}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="20" selectionMode="single" reflow="false"
                             selection="#{qualiteBean.qualiteSelected}" rowKey="#{qualite.id}">

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Id"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{qualite.id}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Libellé"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{qualite.libelle}"/>
                    </p:column>
                </p:dataTable>

                <br/><br/>

                <div id="qualitesButtons">
                    <p:commandButton process="qualitesTable" value="Créer" id="qualiteCreate"
                                     oncomplete="PF('confirmDialogCreate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="qualitesTable" update=":modification:confirmModifQualite"
                                     value="Modifier"
                                     oncomplete="PF('confirmDialogUpdate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="qualitesTable" update=":suppression:confirmSupprQualite"
                                     value="Supprimer"
                                     oncomplete="PF('confirmDialogDelete').show()"/>
                </div>

                <br/><br/>
            </h:form>

            <h:form id="creation">
                <p:dialog header="Nouvelle Qualité"
                          widgetVar="confirmDialogCreate" draggable="false" position="center"
                          modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="confirmCreationQualite" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé de la nouvelle qualité : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newLibelleQualite" size="30"
                                             value="#{qualiteBean.qualiteCreated.libelle}"
                                             required="true"/>
                                <p:watermark for="newLibelleQualite"
                                             value="Libellé dde la nouvelle qualité..."/>
                                <br/><br/>

                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmCreation" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"
                                                 actionListener="#{qualiteBean.create}" ajax="true"
                                                 update=":table:qualitesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineCreation" value="Annuler"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"/>
                            </p:layoutUnit>

                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="modification">
                <p:dialog header="Modification Qualite" widgetVar="confirmDialogUpdate" modal="true" showEffect="fade"
                          draggable="false" resizable="false" position="center">
                    <p:outputPanel id="confirmModifQualite" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;"
                                  rendered="#{not empty qualiteBean.qualiteSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé de la qualité : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateNomQualite" size="30"
                                             value="#{qualiteBean.qualiteSelected.libelle}"
                                             required="true"/>
                                <p:watermark for="updateNomQualite"
                                             value="Libellé de la qualité..."/>
                                <br/><br/>

                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmModif" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"
                                                 actionListener="#{qualiteBean.update}" ajax="true"
                                                 update=":table:qualitesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineModif" value="Annuler"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"/>
                            </p:layoutUnit>

                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty qualiteBean.qualiteSelected}">

                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucune Qualité sélectionnée !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner une qualité à modifier dans la liste."
                                              style="font-size: 14pt"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="suppression">
                <p:dialog header="Suppression Qualité" widgetVar="confirmDialogDelete" modal="true" showEffect="fade"
                          draggable="false" hideEffect="fade" resizable="false" position="center">
                    <p:outputPanel id="confirmSupprQualite" style="text-align:center;">
                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{not empty qualiteBean.qualiteSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Supprimer l'enregistrement #{qualiteBean.qualiteSelected.libelle} ?"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmSuppr" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"
                                                 actionListener="#{qualiteBean.delete}" ajax="true"
                                                 update=":table:qualitesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineSuppr" value="Annuler"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"/>
                            </p:layoutUnit>
                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty qualiteBean.qualiteSelected}">
                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucun enregistrement sélectionné !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>
                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner un enregistrement à supprimer dans la liste."
                                              style="font-size: 14pt; text-align: center"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
