<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PcClinic59</title>
</h:head>

<h:body>
    <ui:composition template="../templates/layout.xhtml">
        <ui:define name="content">
            <h2>Liste des statuts d'intervention</h2>

            <h:form id="formresearch">
                <div id="researchButtons">
                    <p:inputText id="statutLibelleResearch" size="40" value="#{statutBean.statutSearched.libelle}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:watermark for="statutLibelleResearch"
                                 value="Recherche par libellé..."/>
                    <br/><br/>
                    <p:commandButton value="Rechercher" action="#{statutBean.research}"
                                     ajax="true" update=":table:statutsTable"/>
                    <br/><br/>
                </div>
            </h:form>

            <br/><br/>

            <h:form id="table">
                <p:dataTable id="statutsTable" var="statut" value="#{statutBean.statuts}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="20" selectionMode="single" reflow="false"
                             selection="#{statutBean.statutSelected}" rowKey="#{statut.id}">

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Id"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{statut.id}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Libellé"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{statut.libelle}"/>
                    </p:column>
                </p:dataTable>

                <br/><br/>

                <div id="statutsButtons">
                    <p:commandButton process="statutsTable" value="Créer" id="statutCreate"
                                     oncomplete="PF('confirmDialogCreate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="statutsTable" update=":modification:confirmModifStatut"
                                     value="Modifier"
                                     oncomplete="PF('confirmDialogUpdate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="statutsTable" update=":suppression:confirmSupprStatut"
                                     value="Supprimer"
                                     oncomplete="PF('confirmDialogDelete').show()"/>
                </div>

                <br/><br/>
            </h:form>

            <h:form id="creation">
                <p:dialog header="Nouveau statut"
                          widgetVar="confirmDialogCreate" draggable="false" position="center"
                          modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="confirmCreationStatut" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé du nouveau statut : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newLibelleStatut" size="30" value="#{statutBean.statutCreated.libelle}"
                                             required="true"/>
                                <p:watermark for="newLibelleStatut"
                                             value="Libellé du nouveau statut..."/>
                                <br/><br/>

                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmCreation" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"
                                                 actionListener="#{statutBean.create}" ajax="true"
                                                 update=":table:statutsTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineCreation" value="Annuler"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"/>
                            </p:layoutUnit>

                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="modification">
                <p:dialog header="Modification Statut" widgetVar="confirmDialogUpdate" modal="true" showEffect="fade"
                          draggable="false" resizable="false" position="center">
                    <p:outputPanel id="confirmModifStatut" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;"
                                  rendered="#{not empty statutBean.statutSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé du statut : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateNomStatut" size="30"
                                             value="#{statutBean.statutSelected.libelle}"
                                             required="true"/>
                                <p:watermark for="updateNomStatut"
                                             value="Libellé du statut..."/>
                                <br/><br/>

                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmModif" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"
                                                 actionListener="#{statutBean.update}" ajax="true"
                                                 update=":table:statutsTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineModif" value="Annuler"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"/>
                            </p:layoutUnit>

                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty statutBean.statutSelected}">

                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucun Statut sélectionnée !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner un statut à modifier dans la liste."
                                              style="font-size: 14pt"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="suppression">
                <p:dialog header="Suppression Statut" widgetVar="confirmDialogDelete" modal="true" showEffect="fade"
                          draggable="false" hideEffect="fade" resizable="false" position="center">
                    <p:outputPanel id="confirmSupprStatut" style="text-align:center;">
                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{not empty statutBean.statutSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Supprimer l'enregistrement #{statutBean.statutSelected.libelle} ?"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmSuppr" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"
                                                 actionListener="#{statutBean.delete}" ajax="true"
                                                 update=":table:statutsTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineSuppr" value="Annuler"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"/>
                            </p:layoutUnit>
                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty statutBean.statutSelected}">
                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucun enregistrement sélectionné !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>
                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner un enregistrement à supprimer dans la liste."
                                              style="font-size: 14pt; text-align: center"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
