<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PcClinic59</title>
</h:head>

<h:body>
    <ui:composition template="../templates/layout.xhtml">
        <ui:define name="content">
            <h2>Liste des types de matériel</h2>

            <h:form id="formresearch">
                <div id="researchButtons">
                    <p:inputText id="typeLibelleResearch" size="40" value="#{typeBean.typeSearched.libelle}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:watermark for="typeLibelleResearch"
                                 value="Recherche par libellé..."/>
                    <br/><br/>
                    <p:commandButton value="Rechercher" action="#{typeBean.research}"
                                     ajax="true" update=":table:typesTable"/>
                    <br/><br/>
                </div>
            </h:form>

            <br/><br/>

            <h:form id="table">
                <p:dataTable id="typesTable" var="type" value="#{typeBean.types}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="20" selectionMode="single" reflow="false"
                             selection="#{typeBean.typeSelected}" rowKey="#{type.id}">

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Id"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{type.id}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText style="font-size: 18pt" value="Libellé"/>
                        </f:facet>
                        <h:outputText style="font-size: 16pt; " value="#{type.libelle}"/>
                    </p:column>
                </p:dataTable>

                <br/><br/>

                <div id="typesButtons">
                    <p:commandButton process="typesTable" value="Créer" id="typeCreate"
                                     oncomplete="PF('confirmDialogCreate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="typesTable" update=":modification:confirmModifType"
                                     value="Modifier"
                                     oncomplete="PF('confirmDialogUpdate').show()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <p:commandButton process="typesTable" update=":suppression:confirmSupprType"
                                     value="Supprimer"
                                     oncomplete="PF('confirmDialogDelete').show()"/>
                </div>

                <br/><br/>
            </h:form>

            <h:form id="creation">
                <p:dialog header="Nouveau type"
                          widgetVar="confirmDialogCreate" draggable="false" position="center"
                          modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="confirmCreationType" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé du nouveau type : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="newLibelleType" size="30" value="#{typeBean.typeCreated.libelle}"
                                             required="true"/>
                                <p:watermark for="newLibelleType"
                                             value="Libellé du nouveau type..."/>
                                <br/><br/>

                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmCreation" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"
                                                 actionListener="#{typeBean.create}" ajax="true"
                                                 update=":table:typesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineCreation" value="Annuler"
                                                 oncomplete="PF ('confirmDialogCreate').hide()"/>
                            </p:layoutUnit>

                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="modification">
                <p:dialog header="Modification Type" widgetVar="confirmDialogUpdate" modal="true" showEffect="fade"
                          draggable="false" resizable="false" position="center">
                    <p:outputPanel id="confirmModifType" style="text-align:center;">
                        <p:layout style="min-width:45rem;min-height:35rem;"
                                  rendered="#{not empty typeBean.typeSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Entrer le libellé du type : "
                                        style="font-size: 14pt"/>
                                <br/><br/>
                                <h:inputText id="updateNomType" size="30"
                                             value="#{typeBean.typeSelected.libelle}"
                                             required="true"/>
                                <p:watermark for="updateNomType"
                                             value="Libellé du type..."/>
                                <br/><br/>

                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmModif" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"
                                                 actionListener="#{typeBean.update}" ajax="true"
                                                 update=":table:typesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineModif" value="Annuler"
                                                 oncomplete="PF ('confirmDialogUpdate').hide()"/>
                            </p:layoutUnit>

                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty typeBean.typeSelected}">

                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucun Type sélectionné !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner un type à modifier dans la liste."
                                              style="font-size: 14pt"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

            <h:form id="suppression">
                <p:dialog header="Suppression Type" widgetVar="confirmDialogDelete" modal="true" showEffect="fade"
                          draggable="false" hideEffect="fade" resizable="false" position="center">
                    <p:outputPanel id="confirmSupprType" style="text-align:center;">
                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{not empty typeBean.typeSelected}">

                            <p:layoutUnit position="center">
                                <h:outputText
                                        value="Supprimer l'enregistrement #{typeBean.typeSelected.libelle} ?"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>

                            <p:layoutUnit position="south">
                                <p:commandButton id="confirmSuppr" value="Confirmer"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"
                                                 actionListener="#{typeBean.delete}" ajax="true"
                                                 update=":table:typesTable"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p:commandButton id="declineSuppr" value="Annuler"
                                                 oncomplete="PF ('confirmDialogDelete').hide()"/>
                            </p:layoutUnit>
                        </p:layout>

                        <p:layout style="min-width:30rem;min-height:15rem;"
                                  rendered="#{empty typeBean.typeSelected}">
                            <p:layoutUnit position="north">
                                <h:outputText
                                        value="Aucun enregistrement sélectionné !"
                                        style="font-size: 14pt"/>
                                <br/><br/>
                            </p:layoutUnit>
                            <p:layoutUnit position="center">
                                <h:outputText value="Veuillez sélectionner un enregistrement à supprimer dans la liste."
                                              style="font-size: 14pt; text-align: center"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:outputPanel>
                </p:dialog>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
